/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 27, 2023, 9:06:09 AM
    Author     : Admin
*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    /* Fill the remaining space */
    padding: 20px;
}

.contain-certificate {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.user {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #cccbcb;
    padding: 20px 50px;
    
}

.user img {
    height: 70px;
    width: 70px; object-fit: cover; 
    border-radius: 50%;
}

.course {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.course img {
    width: 100px;
    aspect-ratio: 1/1;
    margin-right: 40px;
}

.btn-download {
    background-color: black;
    color: white;
    padding: 10px;
    margin: auto;
}